@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 margin-top: 2em;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 2em;
 background-color: #D6EDFF;
 color: #1D1E2C;
}

p {
 font-size: 1.125rem;
}

.heading {
 font-size: 6rem;
 font-weight: 600;
 font-family: 'Allison', cursive;
}

.list-group {
 cursor: pointer;
 width: 500px;

}

.container {
 display: flex;
 justify-content: center;
 align-items: flex-start;
 gap: 4em;
}

#img,
.image {
 max-width: 20rem;
 max-height: 300px;
 background-image: url(./src/picture.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 border-radius: 20px 20px 0px 0px;
}



.card {
 max-width: 20rem;
 border-radius: 20px;
 margin-bottom: 4em;
}